<div class="container">
    <div class="nav mt-3" id="nav">
        <ul>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['book']">
                    <span class="sidebar-text">Books</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" [routerLink]="['comic']">
                    <span class="sidebar-text">comics</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" [routerLink]="['game']">
                    <span class="sidebar-text">games</span>
                </a>
            </li>
        </ul>
    </div>
</div>